# Compiled source #
###################
*.dll
*.exe
*.pdb
*.user
*ReSharper*
*Debug/*
*obj/*
*bin/*

# LaTeX resources #
###################
*.aux
*.log
*.synctex.gz
*.toc
/TO_1/TO_1/bin
/TO_1/TO_1/obj